body {
    background-color: beige;
}

.TForm {

    margin: 0px auto;
}

#todo-form input{
    background-color: azure;
    border: 0;
    width: 200px;
    margin: 20px;
}

#todo-form button {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-weight: bolder;
}
